@import 'libs/vars';
@import 'libs/functions';
@import 'libs/breakpoints';

/* Utilities */
.text-fg {
	color: _palette(fg);
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
    bottom: auto;
    top: 0;
    height: _size(header);
    transform: translateY(0);

    .header-left {
        position: static;
        margin-right: auto;
        
        ul {
            margin: 0;
            padding: 0;
            
            li {
                padding: 0;
                
                a {
                    padding: 0;
                    font-size: 1.5em;
                    
                    &:hover {
                        color: _palette(fg-bold);
                    }
                }
            }
        }
    }
    
    .header-right {
        margin-left: auto;
        font-size: 1.2em;
        line-height: 1;
        vertical-align: middle;
    }
}

#header nav {
    position: static;
    right: auto;
    top: auto;

    > ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
            display: flex;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                padding: 0 0.6em;
            }
        }
    }
}

body {
    padding: _size(header) 0 0 0;
}

@media screen and (max-width: 736px) {
    #header {
        top: 0;
        bottom: auto;
        height: _size(header);
        padding: 0 1em;
    }
    body {
        padding: _size(header) 0 0 0;
    }
}

/* Footer */
#footer {
	.presentify {
		margin: 0 0 1.4em 0;
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: 1rem;
		align-items: center;

		.presentify-logo {
			display: flex;
			align-items: center;
			justify-content: center;
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				border: 0;
			}

			img {
				width: 72px;
				height: 72px;
				display: block;
			}
		}

		.presentify-text {
			margin: 0;
		}
	}
}

/* Panel (footer modal) */
.panel {
	bottom: 0;
	max-height: 80vh;
	
	@media screen and (max-width: 736px) {
		bottom: auto;
		top: calc(#{_size(header)} - 1px);
		max-height: calc(100vh - #{_size(header)} + 1px);
	}
}
